@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap');
@import url('fonts.css');

body {
  margin: 0px;
  display: flex;
  font-family: 'WhitneyMedium';
  overflow-y: hidden;
}

button:focus,
select,
input {
    outline: 0;
    -webkit-appearance: none;
}

h1 {
    font-size: 40px;
    color: #012169;
    font-family: 'WhitneyBold';
}

h2 {
    color: #012169;
    font-weight: 400;
    font-size: 30px;
}

p,
button {
    font-size: 16px;
    font-weight: 400;
}

.button.grey,
button.grey {
    background-color: #F5F5F5;
    color: #707070;
}

div.container {
    max-width: 1150px;
    max-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

div.container,
header .info-txt,
nav {
    display: inline-flex;
    flex-direction: column;
}

div.container > header {
    justify-content: space-between;
    height: 20vh;
    padding-top: 60px;
    padding-bottom: 0;
}

header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.7s ease-in-out;
    max-width: 1150px;
    justify-content: flex-end;
}

header .info-txt h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .info-txt {
    text-align: left;
    width: 40%;
}

header nav {
    min-width: 50%;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button.grey {
    border: 2px solid #F5F5F5;
}

.button,
button {
    background: #E36B0A 0% 0% no-repeat padding-box;
    border-radius: 11px;
    color: white;
    border: 2px solid #E36B0A;
}

/* Buttons 'hulp nodig?' en 'gevens aanpassen' */
header > button.button {
    padding: 8px 20px;
}

header nav ul li {
    color: #012169;
}

header nav ul li,
.button,
button {
    list-style-type: none;
    padding: 0;
    font-weight: 400;
    padding: 10px 60px;
    cursor: pointer;
}

/* Fill in form ----------------------------- */
.containerSlider {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 500vw;
    max-height: 55vh;
    position: relative;
}

form {
    width: 500vw;
    height: 70vh;
    max-height: inherit;
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

form .containerSlider > div {
    padding: 50px 0 80px;
}

form h2 {
    margin-bottom: -25px;
}

form input {
    font-size: 24px;
}

form select {
    font-size: 16px;
}

form .wideInput {
    width: 250px;
}

form .smallInput {
    width: 160px;
    margin-right: 90px;
}

form input,
form select {
    border: 4px solid #012169;
    border-radius: 10px;
    padding: 10px 25px;
    height: 50px;
    position: relative;
}

form label.euro input {
    border-radius: 0 10px 10px 0;
    width: 200px;
}

form .euro span {
    display: block;
    position: absolute;
    right: 196px;
    height: 100%;
    width: 54px;
    padding: 6px 13px;
    border: 4px solid #012169;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    font-family: 'WhitneyBold';
    font-weight: bolder;
    font-size: 23px;
    color: #012169;
}

form input:focus,
input:focus + span.euro,
form select:focus {
    outline: 0;
    border-color: rgba(1, 33, 105, 0.85);
}

/* Navigation buttons ------------------- */
form nav ul {
    position: absolute;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

form.stepTwo nav ul {
    opacity: 1;
}

form nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 40px;
    position: relative;
    z-index: 2;
}

form:not(.done) nav button:last-of-type {
    display: none;
}

form:not(.done) nav button:last-of-type {
    display: none;
}

form div,
form nav {
    width: 1150px;
}

form fieldset label {
    color: #727272;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

form fieldset.second,
form fieldset.third {
    width: 92%;
}

form fieldset {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    width: 85%;
    margin-left: auto;
    position: relative;
}

/* Iconen voor invoervelden */
form fieldset.second::before,
form fieldset.third::before {
    left: -8%;
}

form fieldset::before {
    content: "";
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: -15%;
    top: 30px;
}

.situatie,
.uitgaven {
    transition: all 0.7s ease-in-out;
}

/* All form icons ---------------- */
.situatie .situatieForm fieldset:first-of-type::before {
    background-image: url('/public/img/leeftijd.png');
}

.situatie .situatieForm fieldset:nth-of-type(2)::before {
    background-image: url('/public/img/leeftijd.png');
}

.situatie .situatieForm fieldset:nth-of-type(3)::before {
    background-image: url('/public/img/leeftijd.png');
}



.uitgaven fieldset.inventaris::before {
    background-image: url('/public/img/inventaris.png');
}

.uitgaven fieldset.kledingenschoenen::before {
    background-image: url('/public/img/kledingenschoenen.png');
}

.uitgaven fieldset.nietvergoedeziektekosten::before {
    background-image: url('/public/img/nietvergoed.png');
}

.uitgaven fieldset.vrijetijdsuitgaven::before {
    background-image: url('/public/img/vrijetijdsuitgaven.png');
}

.uitgaven fieldset.huurhypotheek::before {
    background-image: url('/public/img/huis.png');
}

.uitgaven fieldset.gwlenlokalelasten::before {
    background-image: url('/public/img/lokaleLasten.png');
}

.uitgaven fieldset.telefoontelevisieinternet::before {
    background-image: url('/public/img/telecom.png');
}

.uitgaven fieldset.verzekeringen::before {
    background-image: url('/public/img/verzekeringen.png');
}

.uitgaven fieldset.contributiesenabonnementen::before {
    background-image: url('/public/img/telecom.png');
}

.uitgaven fieldset.onderwijs::before {
    background-image: url('/public/img/onderwijs.png');
}

.uitgaven fieldset.kinderopvang::before {
    background-image: url('/public/img/opvang.png');
}

.uitgaven fieldset.vervoer::before {
    background-image: url('/public/img/auto.png');
}

.uitgaven fieldset.voeding::before {
    background-image: url('/public/img/voeding.png');
}

.uitgaven fieldset.huisentuinonderhoud::before {
    background-image: url('/public/img/huis.png');
}

.uitgaven fieldset.overigehuishoudelijkeuitgaven::before {
    background-image: url('/public/img/huishoudelijk.png');
}

.uitgaven fieldset.reserveringsuitgaven::before {
    background-image: url('/public/img/inventaris.png');
}

/* Fill in form 'situatie' -------------- */
.situatie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
}

.situatie aside {
    max-width: 25%;
    padding-top: 70px;
    display: inline-block;
}

.situatie aside img {
    width: 100%;
}

.situatie .situatieForm {
    width: 70%;
}

/* Uitgaven formulier */
.uitgaven {
    transform: translateX(0);
    opacity: 0;
    position: relative;
}

.stepTwo .uitgaven fieldset {
    width: 92%;
}

.stepTwo .uitgaven fieldset::before {
    left: -8%;
}

.uitgaven h3 {
    font-size: 25px;
    color: #E36B0A;
    font-family: 'WhitneySemibold';
}

.vergelijkbaarHuishouden {
    position: absolute;
    width: 100%;
    top: 0;
}

.vergelijkbaarHuishouden .headings h3:nth-child(2) {
    margin-left: 150px;
}

.vergelijkbaarHuishouden .headings {
    display: flex;
    justify-content: space-between;
}

.vergelijkbaarHuishouden ul {
    position: absolute;
    width: 30%;
    left: 32.5%;
    right: 32.5%;
    height: 290px;
    margin-top: 5.5px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-between;
}

.vergelijkbaarHuishouden ul li:not(:first-child) {
    margin-top: 47.2px;
}

.vergelijkbaarHuishouden ul li {
    list-style-type: none;
    background-color: #012169;
    color: white;
    font-family: 'WhitneySemibold';
    padding: 10px;
    display: inline-block;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.vergelijkbaarHuishouden ul li::after {
    content: "→";
    padding-top: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #012169;
    width: 39px;
    height: 39px;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: -50px;
}

/* Steps ----------------------------- */
.stepTwo .uitgaven {
    transform: translateX(-1150px);
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

.stepTwo a:not(.grey) {
    color: #E36B0A;
    background-color: white;
}

.stepTwo .uitgaven.second {
    transform: translateX(0);
    opacity: 0;
}

.stepTwo .containerSlider.slideOne .uitgaven,
.stepTwo .containerSlider.slideTwo .uitgaven,
.stepTwo .containerSlider.slideThree .uitgaven {
    transform: translateX(-2300px);
    opacity: 0;
}

/* slideOne */
.stepTwo .containerSlider:not(.second) .uitgaven.second {
    transform: translateX(-1150px);
    opacity: 0;
}

.stepTwo .containerSlider.slideOne .uitgaven.second {
    transform: translateX(-2300px);
    opacity: 1;
}

.stepTwo .containerSlider .uitgaven.third {
    transform: translateX(-2300px);
    opacity: 0;
}

/* slideTwo */
.stepTwo .containerSlider.slideTwo .uitgaven.second {
    transform: translateX(-3450px);
    opacity: 0;
}

.stepTwo .containerSlider.slideTwo .uitgaven.third {
    transform: translateX(-3450px);
    opacity: 1;
}

/* slideThree */
.stepTwo .containerSlider.slideTwo .uitgaven.fourth {
    transform: translateX(-3450px);
    opacity: 0;
}

.stepTwo .containerSlider.slideThree .uitgaven.third {
    transform: translateX(-4600px);
    opacity: 0;
}

.stepTwo .containerSlider.slideThree .uitgaven.fourth {
    transform: translateX(-4600px);
    opacity: 1;
}

.stepTwo .situatie {
    opacity: 0;
    transform: translateX(-1150px);
}


.stepTwo .containerSlider.slideThree + nav a:last-of-type {
    display: none;
}

.stepTwo .containerSlider.slideThree + nav button:last-of-type {
    display: inline-block;
}

form nav ul {
    margin-left: 500px;
    width: 150px;
}

form nav ul li {
    width: 15px;
    height: 15px;
    border-radius: 50%!important;
    background-color: #6A6A6A;
    display: inline-block;
}

div:not(.slideOne):not(.slideTwo):not(.slideThree):not(.info-txt) + nav ul li:first-of-type {
    opacity: 0.2;
}

.slideOne + nav ul li:nth-of-type(2) {
    opacity: 0.2;
}

.slideTwo + nav ul li:nth-of-type(3) {
    opacity: 0.2;
}

.slideThree + nav ul li:nth-of-type(4) {
    opacity: 0.2;
}

header nav ul li {
    z-index: 1;
    width: 33.33%;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    position: relative;
}

header nav ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 33.33%;
    height: 100%;
    z-index: 0;
    height: 100%;
    z-index: 0;
    background-color: #E36B0A;
    border-radius: 11px;
    color: white;
    border: 2px solid #E36B0A;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

header.stepTwo nav ul::before {
    transform: translateX(100%);
}

header.stepThree nav ul::before {
    transform: translateX(200%);
}

#back {
    transition: all 0.5s ease-in-out;
}

.stepOne + form #back {
    opacity: 0;
}

.stepOne.stepTwo + form #back {
    opacity: 1;
}

header.stepOne nav ul li:first-of-type,
header.stepTwo nav ul li:nth-of-type(2),
header.stepThree nav ul li:nth-of-type(3) {
    color: white;
}

header.stepTwo nav ul li:first-of-type,
header.stepOne.stepTwo nav ul li:first-of-type {
    color: #012169;
}

form div button {
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

h1 {
    font-weight: normal;
}

p {
    text-align: left;
    letter-spacing: 0;
    color: #012169;
    opacity: 1;
}

p b {
    font-weight: bold;
    font-style: italic;
}

#gegevensAanpassen {
    display: flex;
    margin-left: 20px;
}

.dashboard {
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: absolute;
    top: 100vh;
}

.results .dashboard {
    opacity: 1;
    z-index: 10;
    top: 0;
}

.results form {
    opacity: 0;
}

.results div.container > header:first-of-type {
    opacity: 0;
    margin-top: -668px;
}

#mainCat {
    margin-bottom: 70px;
}

.dashboard header {
    padding-bottom: 0;
}

.dashboard h2 {
    font-family: 'WhitneyBold', sans-serif;
    margin-bottom: 5px;
    margin-top: 0;
    padding-left: 41px;
}

.lineChartMainCat > .reserveringsuitgaven {
    left: 47px;
}
.lineChartMainCat > span.reserveringsuitgaven {
    left: 41px;
}


.lineChartMainCat > .vastelasten {
    left: 323px;
}
.lineChartMainCat > span.vastelasten {
    left: 319px;
}


.lineChartMainCat > .overigevastelasten {
    left: 598px;
}
.lineChartMainCat > span.overigevastelasten {
    left: 595.5px;
}


.lineChartMainCat > .huishoudelijkeuitgaven {
    right: 8px;
}
.lineChartMainCat > span.huishoudelijkeuitgaven {
    right: 2.5px;
}

.lineChartMainCat > .reserveringsuitgaven,
.lineChartMainCat > .vastelasten,
.lineChartMainCat > .overigevastelasten,
.lineChartMainCat > .huishoudelijkeuitgaven {
    cursor: pointer;
}

.lineChartMainCat > div:not(:first-of-type),
.lineChartMainCat > span {
    position: absolute;
    top: 71px;
}

.lineChartMainCat > div:not(:first-of-type) {
    height: 100%;
    width: 267px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

.lineChartMainCat.reserveringsuitgaven > div.reserveringsuitgaven,
.lineChartMainCat.vastelasten > div.vastelasten,
.lineChartMainCat.overigevastelasten > div.overigevastelasten,
.lineChartMainCat.huishoudelijkeuitgaven > div.huishoudelijkeuitgaven,
.lineChartMainCat > div:not(:first-of-type):hover {
    background-color: rgba(255, 255, 255, 0);
}

.lineChartMainCat > span:first-of-type {
    height: calc(100% - 50px);
    border-left: 2px solid #CDCDCD;
}

.lineChartMainCat > span {
    width: 273.5px;
    height: calc(100% - 50px);
    border-right: 2px solid #CDCDCD;
    z-index: -1;
}

.lineChartMainCat > span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82%;
    z-index: -1;
}

.lineChartMainCat > div.reserveringsuitgaven:hover + span.reserveringsuitgaven::before,
.lineChartMainCat > div.vastelasten:hover + span.vastelasten::before,
.lineChartMainCat > div.overigevastelasten:hover + span.overigevastelasten::before,
.lineChartMainCat > div.huishoudelijkeuitgaven:hover + span.huishoudelijkeuitgaven::before,
.lineChartMainCat.reserveringsuitgaven > div.reserveringsuitgaven + span.reserveringsuitgaven::before,
.lineChartMainCat.vastelasten > div.vastelasten + span.vastelasten::before,
.lineChartMainCat.overigevastelasten > div.overigevastelasten + span.overigevastelasten::before,
.lineChartMainCat.huishoudelijkeuitgaven > div.huishoudelijkeuitgaven + span.huishoudelijkeuitgaven::before {
    background-color: #FEF7F2!important;
}

.lineChartMainCat,
.barchartResults {
    max-width: 1150px;
    position: relative;
}

.dashboard footer b,
.dashboard footer h5 {
    font-family: 'WhitneyBook', sans-serif;
    font-size: 18px;
    color: #707070;
    margin: 0 0 10px;
}

.dashboard footer b {
    color: #012169;
}

.dashboard footer#reserveringsuitgavenSaldo {
    left: 41px;
}

.dashboard footer#vastelastenSaldo {
    left: 319px;
}

.dashboard footer#overigevastelastenSaldo {
    left: 595.5px;
}

.dashboard footer#huishoudelijkeuitgavenSaldo {
    right: 2.5px;
}

.dashboard footer {
    position: absolute;
    bottom: -50px;
    width: 273.5px;
    text-align: center;
}


#reserveringsuitgavenButton {
    display: none;
}

.zeroState #reserveringsuitgavenButton {
    position: absolute;
    top: 100px;
    left: 290px;
    display: inherit;
    z-index: 2;
    background-color: #E5E5E5;
    color: #012169;
    border: 2px solid #E5E5E5;
    padding: 15px 30px;
    font-size: 20px;
}

.zeroState.barchartResults::before {
    content: "";
    display: block;
    width: 1150px;
    height: 170%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.45;
    background-color: #FFFFFF;
    z-index: 1;
    display: inherit;
}

#sideBar {
    display: inherit;
    position: absolute;
    right: 0;
    top: 0;
    width: 3vw;
    height: 100vh;
    background-color: white;
}

#sideBar,
#moreInfoTips,
#contactBugetCoach {
    display: none;
}
