@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap');

body {
  margin: 0px;
  overflow: hidden;
}

header {
    padding-top: 20px;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

p b {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
}

svg {
  width: 960px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  display: block;
}

circle {
    fill: black;
}

/* http://bl.ocks.org/emmasaunders/d682fd84b67b304219e49b1e8385b1f8  */
text {
    fill: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
}
